@import '../lib/lib';

.layout-container {
  padding-left: $grid-bleed;
  padding-right: $grid-bleed;
}

.layout-column + .layout-column {
  padding-left: $grid-gutter;
}

.layout-column--half {
  @include breakpoint($breakpoint-large) {
    width: 50%;
  }
}

.layout-column--quarter {
  @include breakpoint($breakpoint-large) {
    width: 25%;
  }
}

.layout-column {
  @include breakpoint($breakpoint-large) {
    @include box-sizing(border-box);
    float: left;
  }
}

.layout-section {
  @include breakpoint($breakpoint-large) {
    @include pie-clearfix;
  }
}
