.views-ui-display-tab-bucket {
  margin-top: 1.42857em;
  margin-bottom: 1.42857em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  .views-ui-display-tab-bucket:first-child {
    margin-top: 0; }
  .views-ui-display-tab-bucket:last-child {
    margin-bottom: 0; }
  @media (min-width: 64em) {
    .views-ui-display-tab-bucket header {
      position: relative; } }
  .views-ui-display-tab-bucket .views-ui-display-tab-bucket__title {
    font-size: 1em;
    line-height: 1.42857;
    font-weight: 700;
    margin-bottom: 0.71429em; }
    @media (max-width: 63.9375em) {
      .views-ui-display-tab-bucket .views-ui-display-tab-bucket__title {
        border-top: 1px solid #ddd;
        padding-top: 1.42857em; } }
  @media (max-width: 63.9375em) {
    .views-ui-display-tab-bucket:first-child .views-ui-display-tab-bucket__title {
      border-top: 0;
      margin-top: 0;
      padding-top: 0; } }
  .views-ui-display-tab-bucket.page {
    margin-bottom: 0; }
  .views-ui-display-tab-bucket.access {
    margin-top: 0; }

.details-wrapper .views-ui-display-tab-bucket:first-child .views-ui-display-tab-bucket__title {
  border-top: 0;
  padding-top: 0; }

.views-ui-view-name h1, .views-ui-view-name h2, .views-ui-view-name h3, .views-ui-view-name h4, .views-ui-view-name h5, .views-ui-view-name h6 {
  font-size: inherit;
  line-height: inherit;
  margin: 0; }

.views-ui-display-tab-actions .views-display-setting {
  margin-top: 0.71429em;
  margin-bottom: 0.71429em;
  background-color: #fff;
  border-color: #ddd;
  display: block;
  width: 100%; }
  .views-ui-display-tab-actions .views-display-setting:first-child {
    margin-top: 0; }
  .views-ui-display-tab-actions .views-display-setting:last-child {
    margin-bottom: 0; }

.views-ui-display-tab-actions .dropbutton li .form-submit {
  display: block;
  width: 100%; }

@media (min-width: 48em) {
  .js .views-ui-display-tab-actions {
    border: 0;
    padding: 0; } }

@media (min-width: 48em) {
  .js .views-ui-display-tab-actions .views-display-setting {
    margin: 0; } }

.js .views-ui-edit-display-form table,
.js .views-ui-edit-display-form .form-actions {
  margin-bottom: 0;
  margin-top: 0; }

.views-ui-dialog .form-actions {
  margin-bottom: 0;
  margin-top: 0; }

.views-ui-dialog .views-filterable-options-controls {
  display: inline-block;
  margin-bottom: 0;
  margin-left: .5em;
  margin-top: 0; }

.views-ui-dialog .form-item-path .field-prefix,
.views-ui-dialog .form-item-path .field-suffix {
  display: inline;
  margin-left: 0;
  margin-right: 0; }

.views-ui-dialog .ui-widget-content.ui-dialog-content {
  padding: 0; }
  .views-ui-dialog .ui-widget-content.ui-dialog-content::after {
    display: none; }

.views-ui-dialog .scroll {
  margin-bottom: 0;
  margin-top: 0;
  padding: 1.42857em;
  padding-bottom: 0; }
  .views-ui-dialog .scroll::after {
    content: '';
    display: block;
    height: 1.42857em; }

/*# sourceMappingURL=views_ui.admin.css.map */
