.view,
.view-filters,
.view-content,
.views-list-section,
.views-preview-wrapper {
  margin-top: 1.42857em;
  margin-bottom: 1.42857em; }
  .view:first-child,
  .view-filters:first-child,
  .view-content:first-child,
  .views-list-section:first-child,
  .views-preview-wrapper:first-child {
    margin-top: 0; }
  .view:last-child,
  .view-filters:last-child,
  .view-content:last-child,
  .views-list-section:last-child,
  .views-preview-wrapper:last-child {
    margin-bottom: 0; }

.views-display-setting {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #f1f1f1;
  margin-top: -1px;
  padding: 0.71429em; }
  .views-display-setting:nth-of-type(2n) {
    background-color: #f9f9f9; }

@media (min-width: 64em) {
  .views-display-top {
    position: relative; } }

.views-display-top .form-submit {
  margin-top: 0.71429em;
  margin-bottom: 0.71429em;
  display: block;
  width: 100%; }
  .views-display-top .form-submit:first-child {
    margin-top: 0; }
  .views-display-top .form-submit:last-child {
    margin-bottom: 0; }
  @media (min-width: 48em) {
    .views-display-top .form-submit {
      display: inline-block;
      margin: 0;
      width: auto; } }

.js .views-display-top .add {
  margin: 0;
  position: relative; }
  @media (min-width: 48em) {
    .js .views-display-top .add {
      padding: 0; } }

.js .views-display-top .add > a {
  outline: none; }
  @media (min-width: 48em) {
    .js .views-display-top .add > a {
      padding-bottom: 0.71429em; } }

.js .views-display-top .action-list {
  margin-top: 0.71429em;
  margin-bottom: 0.71429em; }
  .js .views-display-top .action-list:first-child {
    margin-top: 0; }
  .js .views-display-top .action-list:last-child {
    margin-bottom: 0; }
  @media (min-width: 48em) {
    .js .views-display-top .action-list {
      margin: 0;
      position: absolute;
      top: 100%;
      z-index: 20; } }

@media (max-width: 63.9375em) {
  .views-query-info table,
  .views-query-info thead,
  .views-query-info tbody,
  .views-query-info tr,
  .views-query-info th,
  .views-query-info td {
    display: block; } }

.views-query-info table,
.views-query-info th,
.views-query-info td {
  border-color: #f1f1f1;
  vertical-align: top; }
  @media (max-width: 63.9375em) {
    .views-query-info table,
    .views-query-info th,
    .views-query-info td {
      border: 0;
      padding: 0; } }

.views-query-info td {
  min-width: 14.28571em; }
  @media (max-width: 63.9375em) {
    .views-query-info td {
      margin-top: 0.35714em;
      margin-bottom: 0.35714em; }
      .views-query-info td:first-child {
        margin-top: 0; }
      .views-query-info td:last-child {
        margin-bottom: 0; } }

@media (max-width: 63.9375em) {
  .views-query-info tr {
    margin-top: 1.42857em;
    margin-bottom: 1.42857em; }
    .views-query-info tr:first-child {
      margin-top: 0; }
    .views-query-info tr:last-child {
      margin-bottom: 0; } }

.views-query-info pre {
  white-space: pre-wrap; }

@media (min-width: 64em) {
  .views-display-columns {
    *zoom: 1;
    margin-left: -2.14286em; }
    .views-display-columns:after {
      content: "";
      display: table;
      clear: both; } }

@media (min-width: 64em) {
  .views-display-column,
  .views-display-column.form-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.14286em;
    width: calc(33.33333% - 2.14286em);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ddd;
    margin-bottom: 0;
    margin-top: 0;
    padding: 1.42857em; } }

@media (min-width: 64em) {
  details.views-display-column,
  details.form-wrapper.views-display-column {
    padding-top: 0; } }

@media (min-width: 64em) {
  details.views-display-column:not([open]),
  details.views-display-column.form-wrapper:not([open]) {
    padding-bottom: 0;
    padding-top: 0; } }

/*# sourceMappingURL=views.module.css.map */
