@import '../lib/lib';

.admin-list {
  margin: 0;
  padding: 0;

  > li {
    @include type-leader(
      $step: .75,
      $types: padding
    );
    border-top: 1px solid $color-grey-cement;
    display: block;
    margin: 0;
  }

  > li:first-child {
    border-top: 0;
    padding-top: 0;
  }

  > li:last-child {
    padding-bottom: 0;
  }

  > li > a {
    display: block;
    position: relative;
  }

  .label {
    display: block;
    font-weight: 700;
  }

  a:hover .label {
    text-decoration: underline;
  }

  .description {
    color: $color-grey-abyss;
  }
}
