@import '../lib/lib';

.content-header {
  background-color: $color-grey-abyss;
  color: $color-white;
  padding-bottom: em($base-vertical-margin);
  padding-top: em($base-vertical-margin);

  a {
    color: tint($color-grey-abyss, 50%);
  }

  .page-title {
    color: $color-white;
  }
}

.content-header .block-local-tasks-block:last-child {
  margin-bottom: -#{em($base-vertical-margin + 1px)};

  a.is-active {
    @include box-shadow(0 1px 0 0 $color-white);
    background-color: $color-white;
    border-bottom: 0;
  }
}
