@import '../lib/lib';

.content-header {
  background-color: $color-grey-steam;
  border-bottom: 1px solid $color-grey-cement;
  padding-bottom: em($base-vertical-margin);
  padding-top: em($base-vertical-margin);
}

.content-header .block-local-tasks-block:last-child {
  margin-bottom: -#{em($base-vertical-margin + 1px)};
}
