@import '../lib/lib';

.ui-datepicker {
  border: 1px solid $color-grey-cement;
  padding: 0;

  table {
    @include th-h(
      $heading: saul,
      $include: font-size line-height
    );
    border: 0;
  }

  th,
  td {
    border-bottom: 1px solid $color-grey-cement;
    text-align: center;
  }

  tr:last-child td {
    border-bottom: 0;
  }

  td a {
    color: $color-grey-abyss;
    text-align: center;

    &:hover,
    &:focus {
      background-color: $color-grey-steam;
    }
  }

  .ui-datepicker-header {
    $base: th-base(saul);
    @include th-h(
      $heading: saul,
      $include: font-size line-height
    );
    background-color: $color-white;
    border-bottom: 1px solid $color-grey-cement;
    font-weight: 700;
    padding: em(6px, $base);
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    width: auto;
  }

  .ui-datepicker-prev::before,
  .ui-datepicker-next::before {
    @include fontello;
    color: $color-grey-abyss;
    position: relative;
    top: em(8px);
  }

  .ui-datepicker-prev::before {
    content: $icon-left-open;
  }

  .ui-datepicker-next::before {
    content: $icon-right-open;
  }

  .ui-state-active {
    background-color: $color-grey-steam;
    font-weight: 700;
  }
}
