@import '../lib/lib';

.field-suffix {
  display: inline-block;
  margin-left: .25em;
}

.field-prefix {
  display: inline-block;
  margin-right: .25em;
}

.form-wrapper.field-plugin-settings-edit-form {
  margin: 0;
}

.field-plugin-settings-editing .ajax-new-content > .form-item:first-child {
  margin: 0;
}

.machine-name-value + .admin-link {
  display: inline-block;
  margin-left: .25em;

  &:before {
    content: '- ';
  }
}
