@import '../lib/lib';

.form-wrapper,
.form-item {
  @include type-leader;
  @include type-leader-clear;
}

.form-item > label,
.form-item > legend {
  @include type-leader(.5);
  @include type-leader-clear;
  font-weight: 700;

  &.is-visually-hidden {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.form-item > #{$selector-form-text-inputs},
.form-item > select {
  display: block;
  width: 100%;
  @include breakpoint($breakpoint-medium) {
    display: inline-block;
    width: auto;
  }
}

.form-submit {
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: bottom;

  + a {
    display: inline-block;
  }
}

.form-type-radio,
.form-type-checkbox {
  @include type-leader(.5);
  @include type-leader-clear;
  vertical-align: middle;

  > input,
  > label {
    display: inline-block;
    font-weight: inherit;
    letter-spacing: inherit;
    margin: 0;
    text-transform: inherit;
    vertical-align: middle;
  }

  > input {
    margin-right: .25em;
  }
}

.form-radios > .form-type-radio,
.form-checkboxes > .form-type-checkbox {
  @include type-leader(.5);
  @include type-leader-clear;
}

.form--inline .form-item,
.form--inline .form-actions,
.container-inline .form-item,
.container-inline .form-actions {
  @include breakpoint($breakpoint-medium) {
    display: inline-block;
    margin-bottom: 0;
    margin-left: .5em;
    margin-top: 0;
    vertical-align: top;
  }

  &:first-child {
    margin-left: 0;
  }
}

.form--inline .form-actions,
.container-inline .form-item {
  @include breakpoint($breakpoint-medium) {
    vertical-align: bottom;
  }
}

input[type='hidden'] + .form-actions {
  margin-bottom: 0;
  margin-top: 0;
}

.container-inline label::after,
.container-inline .label::after {
  content: ':';
}

.details-wrapper {
  @include type-leader;
  @include type-leader-clear;
}

.label {
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
}

.form-type-password-confirm {
  @include pie-clearfix;

  * {
    clear: both;
  }

  .form-item {
    margin-bottom: 0;
  }

  .confirm-parent,
  .password-parent {
    clear: both;
    display: inline-block;
    float: left;
    overflow: visible;
    width: auto;
  }

  .password-strength__title,
  .password-confirm {
    @include type-leader(.25);
    @include type-leader-clear;
  }

  .password-strength__title {
    display: block;
  }

  .password-strength__indicator.is-weak {
    background-color: $color-red-blood;
  }

  .password-strength__indicator.is-fair {
    background-color: $color-orange-sun;
  }

  .password-strength__indicator.is-good {
    background-color: $color-blue-electric;
  }

  .password-strength__indicator.is-strong {
    background-color: $color-green-invader;
  }
}
