@import '../lib/lib';

.form-wrapper,
.form-item {
  @include type-leader;
  @include type-leader-clear;
}

.form-item > label,
.form-item > legend {
  @include type-leader(.5);
  @include type-leader-clear;
  font-weight: 700;
}

.form-item > #{$selector-form-text-inputs},
.form-item > select {
  display: block;
  width: 100%;
  @include breakpoint($breakpoint-medium) {
    display: inline-block;
    width: auto;
  }
}

.form-submit {
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: bottom;

  + a {
    display: inline-block;
  }
}

.form-type-radio,
.js-form-type-radio,
.form-type-checkbox,
.js-form-type-checkbox {
  @include type-leader-clear;
  margin-bottom: 0;
  margin-top: em($base-vertical-margin);
  vertical-align: middle;

  > input,
  > label {
    display: inline-block;
    font-weight: inherit;
    letter-spacing: inherit;
    margin: 0;
    text-transform: inherit;
    vertical-align: middle;
  }

  > input {
    margin-right: .25em;
  }

  + .form-type-radio,
  + .js-form-type-radio,
  + .form-type-checkbox,
  + .js-form-type-checkbox {
    @include type-leader(.25);
    @include type-leader-clear;
  }
}

.form-radios > .form-type-radio,
.form-checkboxes > .form-type-checkbox {
  @include type-leader(.5);
  @include type-leader-clear;
}

.form--inline .form-item,
.form--inline .form-actions,
.container-inline .form-item,
.container-inline .form-actions {
  @include breakpoint($breakpoint-medium) {
    display: inline-block;
    margin-bottom: 0;
    margin-left: .5em;
    margin-top: 0;
    vertical-align: top;
  }

  &:first-child {
    margin-left: 0;
  }
}

.form--inline .form-actions,
.container-inline .form-item {
  @include breakpoint($breakpoint-medium) {
    vertical-align: bottom;
  }
}

.details-wrapper {
  @include type-leader;
  @include type-leader-clear;
}
