@import '../lib/lib';

.form-wrapper,
.form-item {
  @include type-leader;
  @include type-leader-clear;
}

.form-item > label,
.form-item > legend {
  @include type-leader(.5);
  @include type-leader-clear;
  font-weight: 700;
}

.form-item > input,
.form-item > select,
.form-item > .form-textarea-wrapper > textarea {
  @include type-leader-clear;
}

.form-actions > .form-submit + a {
  margin-left: 1em;
}

.form-type-radio,
.js-form-type-radio,
.form-type-checkbox,
.js-form-type-checkbox {
  @include type-leader-clear;
  margin-bottom: 0;
  margin-top: em($base-vertical-margin);
  vertical-align: middle;

  > input,
  > label {
    display: inline-block;
    font-weight: inherit;
    letter-spacing: inherit;
    margin: 0;
    text-transform: inherit;
    vertical-align: middle;
  }

  > input {
    margin-right: .25em;
  }

  + .form-type-radio,
  + .js-form-type-radio,
  + .form-type-checkbox,
  + .js-form-type-checkbox {
    @include type-leader(.25);
    @include type-leader-clear;
  }
}

.form-radios > .form-type-radio,
.form-checkboxes > .form-type-checkbox {
  @include type-leader(.25);
  @include type-leader-clear;
}

.form-item > .description {
  $base: th-base(saul);
  @include th-h(
    $heading: saul,
    $include: font-size line-height
  );
  @include type-leader(
    $step: .5,
    $base: $base
  );
  @include type-leader-clear;
  color: $color-grey-ash;
}

.form--inline > .form-item {
  display: inline-block;
  margin-bottom: 0;
  margin-left: .5em;
  margin-top: 0;
  vertical-align: bottom;

  &:first-child {
    margin-left: 0;
  }
}

.details-wrapper {
  @include type-leader;
  @include type-leader-clear;
}
