@import '../lib/lib';

.panel {
  @include type-leader;
  @include type-leader-clear;
  @include border-radius(2px);
  border: 1px solid $color-grey-cement;
}

.panel__title {
  border-bottom: 1px solid $color-grey-cement;
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
  margin: 0;
  padding: em($base-vertical-margin / 2);
}

.panel__content {
  padding: em($base-vertical-margin);
}
