@import '../lib/lib';

th.select-all {
  width: 1px;
}

.tableresponsive-toggle-columns {
  margin-top: em($base-vertical-margin);

  &:first-child {
    margin-top: 0;
  }

  + table {
    margin-top: 0;
  }
}
