@import '../lib/lib';

.tabs {
  @include type-leader;
  @include type-leader-clear;
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  a {
    display: block;
  }

  .tabs__tab {
    list-style: none;
  }
}

.tabs.primary {

  a {
    padding: em($base-vertical-margin / 2 $base-vertical-margin);
  }

  a.is-active {
    @include border-radius(2px);
    background-color: $color-white;
    color: $color-grey-ash;
  }

  .tabs__tab {
    display: inline-block;
    margin: 0 -4px 0 0;
    padding: 0;
  }

  .tabs__tab:first-child a.is-active {
    border-left: 0;
  }
}

.tabs.secondary {
  border-bottom: 2px solid $color-grey-cement;

  a {
    padding: em($base-vertical-margin / 2);
  }

  a.is-active {
    @include box-shadow(0 2px 0 0 $color-green-retro);
  }

  .tabs__tab {
    display: inline-block;
  }
}
