@import '../lib/lib';

.tabs {
  @include type-leader;
  @include type-leader-clear;
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  > li > a {
    display: block;
  }

  > li {
    display: block;
    list-style: none;
    @include breakpoint($breakpoint-medium) {
      display: inline-block;
    }
  }
}

.tabs.primary {

  > li > a {
    padding: em($base-vertical-margin / 2 $base-vertical-margin);
  }

  > li > a.is-active {
    @include border-radius(2px);
    background-color: $color-white;
    color: $color-grey-ash;
  }

  > li {
    display: inline-block;
    margin: 0 -4px 0 0;
    padding: 0;
  }

  > li:first-child a.is-active {
    border-left: 0;
  }
}

.tabs.secondary {
  border-bottom: 1px solid $color-grey-cement;

  > li > a {
    @include breakpoint($breakpoint-medium) {
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  > li.is-active > a {
    color: inherit;
    font-weight: 700;
    @include breakpoint($breakpoint-medium) {
      color: $color-link;
      font-weight: 400;
    }
  }

  > li {
    display: block;
    padding-bottom: em($base-vertical-margin / 2);
    @include breakpoint($breakpoint-medium) {
      display: inline-block;
    }
  }

  > li.is-active {
    @include breakpoint($breakpoint-medium) {
      @include box-shadow(0 1px 0 0 $color-green-retro);
    }
  }
}
