@import '../lib/lib';

form,
label,
fieldset,
legend,
input,
select,
textarea,
button {
  margin: 0;
}

fieldset,
legend {
  padding: 0;
}

form,
details {
  @include type-leader;
  @include type-leader-clear;
  display: block;
}

details {
  @include border-radius(2px);
  border: 1px solid $color-grey-cement;
  padding-left: em($base-vertical-margin);
  padding-right: em($base-vertical-margin);

  &[open] {
    padding-bottom: em($base-vertical-margin);
  }
}

summary {
  @include type-leader;
  @include type-leader-clear;
  background-color: $color-grey-steam;
  border-bottom: 1px solid $color-grey-cement;
  display: list-item;
  font-weight: 700;
  margin-left: -#{em($base-vertical-margin)};
  margin-right: -#{em($base-vertical-margin)};
  padding: em(($base-vertical-margin / 2) $base-vertical-margin);

  &[aria-expanded='false'] {
    border-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

label {
  @include type-leader(.5);
  @include type-leader-clear;
  display: block;
  font-weight: 700;
}

label button {
  @include button-link;
}

fieldset {
  @include type-leader;
  @include type-leader-clear;
  border: 0;
  padding: 0;
}

legend {
  @include type-leader;
  @include type-leader-clear;
  display: block;
  width: 100%;
}

@include input-size(medium);

#{$selector-form-text-inputs},
select,
textarea {
  @include box-sizing(border-box);
  @include border-radius(2px);
  @include appearance(none);
  @include input-placeholder {
    color: $color-grey-cement;
  }
  background-color: $color-white;
  border: 1px solid $color-grey-cement;
  display: block;
  font-family: inherit;
  overflow: hidden;
  width: auto;
}

select {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNyA3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA3IDc7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBkPSJNNi45MjcwODM1LDIuMTg1MzU3M2wtMy40MjIzMDMsMy40MjIzMDNMMy41MDEyMzkzLDUuNjA0MTE4OEwzLjQ5NTIxOTUsNS42MTAwMjA2TDAuMDcyOTE2NywyLjE4NzcxODJsMC41MTI3NjExLTAuNTEyNzYxMmwyLjkxMzA4MjgsMi45MTMwODMxbDIuOTE1NTYxNy0yLjkxNTQ0MzdMNi45MjcwODM1LDIuMTg1MzU3M3oiLz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-size: 10px;

  &::-ms-expand {
    display: none;
  }
}

textarea {
  height: auto;
  max-width: 100%;
  resize: vertical;
}

input[type='radio'],
input[type='checkbox'] {
  margin-right: .25em;
}

tr .form-item {
  @include input-size(small);
  margin: 0;
}
