@import '../../lib/lib';

.tabledrag-handle .handle,
.tabledrag-handle {
  display: inline-block;

  + .form-item {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.tabledrag-handle .handle::after {
  @include fontello($icon-move);
  color: $color-grey-ash;
  display: inline;
  margin-right: 1em;
  position: relative;
  top: -1px;
}

.tabledrag-toggle-weight-wrapper {
  $base: th-base(saul);
  @include th-h($heading: saul, $include: font-size line-height);
  text-align: right;
}

tr.region-populated {
  display: none;
}

table[data-striping='1'] > tbody > tr.region-title td,
table[data-striping='1'] > tbody > tr.region-title.odd td,
table[data-striping='1'] > tbody > tr.region-title.even td {
  background-color: $color-grey-steam;
  font-weight: 700;
}

.tabledrag-changed,
abbr[title].tabledrag-changed {
  border: 0;
  margin-left: .25em;
  margin-right: .25em;
  text-decoration: none;
}

tr.draggable.drag td {
  background-color: $color-yellow-sand !important;
}
