@import '../../lib/lib';

.tabledrag-handle .handle,
.tabledrag-handle {
  display: inline-block;

  + .form-item {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.tabledrag-handle .handle::after {
  @include fontello($icon-move);
  color: $color-grey-ash;
  margin-right: 1em;
  position: relative;
  top: -1px;
}

.tabledrag-toggle-weight-wrapper {
  $base: th-base(saul);
  @include th-h($heading: saul, $include: font-size line-height);
  text-align: right;
}
