form,
label,
fieldset,
legend,
input,
select,
textarea,
button {
  margin: 0; }

fieldset,
legend {
  padding: 0; }

form,
details {
  margin-top: 1.42857em;
  margin-bottom: 1.42857em;
  display: block; }
  form:first-child,
  details:first-child {
    margin-top: 0; }
  form:last-child,
  details:last-child {
    margin-bottom: 0; }

details {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ddd;
  padding-left: 1.42857em;
  padding-right: 1.42857em; }
  details[open] {
    padding-bottom: 1.42857em; }

summary {
  margin-top: 1.42857em;
  margin-bottom: 1.42857em;
  background-color: #f5f5f2;
  border-bottom: 1px solid #ddd;
  display: list-item;
  font-weight: 700;
  margin-left: -1.42857em;
  margin-right: -1.42857em;
  padding: 1.07143em 1.42857em; }
  summary:first-child {
    margin-top: 0; }
  summary:last-child {
    margin-bottom: 0; }
  summary[aria-expanded='false'] {
    border-bottom: 0;
    margin-bottom: 0;
    margin-top: 0; }

label {
  margin-top: 0.71429em;
  margin-bottom: 0.71429em;
  display: block;
  font-weight: 700; }
  label:first-child {
    margin-top: 0; }
  label:last-child {
    margin-bottom: 0; }

label button {
  background: transparent;
  border: 0;
  color: #008ee6;
  display: inline;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0; }
  label button:hover, label button:focus {
    color: #444; }

fieldset {
  margin-top: 1.42857em;
  margin-bottom: 1.42857em;
  border: 0;
  padding: 0; }
  fieldset:first-child {
    margin-top: 0; }
  fieldset:last-child {
    margin-bottom: 0; }

legend {
  margin-top: 1.42857em;
  margin-bottom: 1.42857em;
  display: block;
  width: 100%; }
  legend:first-child {
    margin-top: 0; }
  legend:last-child {
    margin-bottom: 0; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"],
select,
textarea {
  font-size: 1em;
  line-height: 1.42857em;
  padding: 0.78571em 1em; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"],
select {
  height: 3.14286em; }

select {
  background-position: calc(100% - 1em) center;
  padding-right: 2.57143em; }

@media (min-width: 48em) {
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"],
  select,
  textarea {
    font-size: 1em;
    line-height: 1.42857em;
    padding: 0.78571em 1em; }
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"],
  select {
    height: 3.14286em; }
  select {
    background-position: calc(100% - 1em) center;
    padding-right: 2.57143em; } }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"],
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  display: block;
  font-family: inherit;
  overflow: hidden;
  width: auto; }
  input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #ddd; }
  input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="url"]:-moz-placeholder,
  select:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #ddd; }
  input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="url"]::-moz-placeholder,
  select::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #ddd; }
  input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder,
  select:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #ddd; }

select {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNyA3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA3IDc7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBkPSJNNi45MjcwODM1LDIuMTg1MzU3M2wtMy40MjIzMDMsMy40MjIzMDNMMy41MDEyMzkzLDUuNjA0MTE4OEwzLjQ5NTIxOTUsNS42MTAwMjA2TDAuMDcyOTE2NywyLjE4NzcxODJsMC41MTI3NjExLTAuNTEyNzYxMmwyLjkxMzA4MjgsMi45MTMwODMxbDIuOTE1NTYxNy0yLjkxNTQ0MzdMNi45MjcwODM1LDIuMTg1MzU3M3oiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  background-size: 10px; }
  select::-ms-expand {
    display: none; }

textarea {
  height: auto;
  max-width: 100%;
  resize: vertical; }

input[type='radio'],
input[type='checkbox'] {
  margin-right: .25em; }

/*# sourceMappingURL=forms.css.map */
