.dropbutton {
  display: block;
  margin: 0;
  padding: 0; }
  .dropbutton .button {
    background: transparent;
    border: 0;
    color: #4f80ee;
    display: inline;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: left; }
    .dropbutton .button:hover, .dropbutton .button:focus {
      color: #292c44;
      background-color: transparent; }
  .dropbutton li,
  .dropbutton a {
    display: block; }
  .dropbutton li {
    display: inline-block;
    margin: .25em 0 0 .5em;
    padding: 0;
    vertical-align: middle; }
    .dropbutton li:first-child {
      margin-left: 0; }
  .dropbutton .dropbutton-toggle {
    display: none; }

.dropbutton-wrapper {
  margin-top: 1.42857em;
  margin-bottom: 1.42857em; }
  .dropbutton-wrapper:first-child {
    margin-top: 0; }
  .dropbutton-wrapper:last-child {
    margin-bottom: 0; }

.js .dropbutton li {
  margin: 0; }

.js .dropbutton li a,
.js .dropbutton li .button {
  font-size: 0.85714em;
  line-height: 1.5;
  color: #292c44;
  display: block;
  font-weight: 700;
  padding: 0.5em 1.5em;
  white-space: nowrap; }

.js .dropbutton-wrapper.dropbutton-multiple .dropbutton {
  overflow: hidden; }
  .js .dropbutton-wrapper.dropbutton-multiple .dropbutton li.secondary-action {
    border-top: 1px solid #ddd;
    display: none; }
  .js .dropbutton-wrapper.dropbutton-multiple .dropbutton .dropbutton-toggle {
    bottom: 0;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 2.28571em; }
  .js .dropbutton-wrapper.dropbutton-multiple .dropbutton .dropbutton-toggle button {
    background: none;
    border: 0;
    border-left: 1px solid #ddd;
    cursor: pointer;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%; }
  .js .dropbutton-wrapper.dropbutton-multiple .dropbutton .dropbutton-toggle .dropbutton-arrow {
    display: block;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-color: #292c44;
    border-width: 0.42857em 0.28571em 0 0.28571em;
    margin: auto;
    position: absolute;
    right: 0.85714em;
    top: 0.85714em; }

.js .dropbutton-wrapper.dropbutton-multiple {
  min-height: 2.14286em;
  padding-right: 12.85714em;
  position: relative; }

.js .dropbutton-wrapper .dropbutton-widget {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  display: inline-block; }

.js .dropbutton-wrapper.dropbutton-multiple .dropbutton-widget {
  padding-right: 2.28571em;
  position: absolute; }

.js .dropbutton-wrapper.open .dropbutton-widget {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  z-index: 20; }

.js .dropbutton-wrapper.open .dropbutton {
  overflow: visible; }

.js .dropbutton-wrapper.open .dropbutton li {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.js .dropbutton-wrapper.open .dropbutton li.secondary-action {
  display: block; }

.js .dropbutton-wrapper.open .dropbutton .dropbutton-toggle button {
  -webkit-border-radius: 0 1em 1em 0;
  -moz-border-radius: 0 1em 1em 0;
  -ms-border-radius: 0 1em 1em 0;
  -o-border-radius: 0 1em 1em 0;
  border-radius: 0 1em 1em 0; }

.js .dropbutton-wrapper.open .dropbutton-toggle .dropbutton-arrow {
  display: block;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-color: #292c44;
  border-width: 0 0.28571em 0.42857em 0.28571em; }

/*# sourceMappingURL=dropbutton.css.map */
