.form-wrapper,
.form-item {
  margin-top: 1.42857em;
  margin-bottom: 1.42857em; }
  .form-wrapper:first-child,
  .form-item:first-child {
    margin-top: 0; }
  .form-wrapper:last-child,
  .form-item:last-child {
    margin-bottom: 0; }

.form-item > label,
.form-item > legend {
  margin-top: 0.71429em;
  margin-bottom: 0.71429em;
  font-weight: 700; }
  .form-item > label:first-child,
  .form-item > legend:first-child {
    margin-top: 0; }
  .form-item > label:last-child,
  .form-item > legend:last-child {
    margin-bottom: 0; }

.form-item > input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"],
.form-item > select {
  display: block;
  width: 100%; }
  @media (min-width: 48em) {
    .form-item > input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"],
    .form-item > select {
      display: inline-block;
      width: auto; } }

.form-submit {
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: bottom; }
  .form-submit + a {
    margin-left: 1em; }

.form-type-radio,
.js-form-type-radio,
.form-type-checkbox,
.js-form-type-checkbox {
  margin-bottom: 0;
  margin-top: 1.42857em;
  vertical-align: middle; }
  .form-type-radio:first-child,
  .js-form-type-radio:first-child,
  .form-type-checkbox:first-child,
  .js-form-type-checkbox:first-child {
    margin-top: 0; }
  .form-type-radio:last-child,
  .js-form-type-radio:last-child,
  .form-type-checkbox:last-child,
  .js-form-type-checkbox:last-child {
    margin-bottom: 0; }
  .form-type-radio > input,
  .form-type-radio > label,
  .js-form-type-radio > input,
  .js-form-type-radio > label,
  .form-type-checkbox > input,
  .form-type-checkbox > label,
  .js-form-type-checkbox > input,
  .js-form-type-checkbox > label {
    display: inline-block;
    font-weight: inherit;
    letter-spacing: inherit;
    margin: 0;
    text-transform: inherit;
    vertical-align: middle; }
  .form-type-radio > input,
  .js-form-type-radio > input,
  .form-type-checkbox > input,
  .js-form-type-checkbox > input {
    margin-right: .25em; }
  .form-type-radio + .form-type-radio,
  .form-type-radio + .js-form-type-radio,
  .form-type-radio + .form-type-checkbox,
  .form-type-radio + .js-form-type-checkbox,
  .js-form-type-radio + .form-type-radio,
  .js-form-type-radio + .js-form-type-radio,
  .js-form-type-radio + .form-type-checkbox,
  .js-form-type-radio + .js-form-type-checkbox,
  .form-type-checkbox + .form-type-radio,
  .form-type-checkbox + .js-form-type-radio,
  .form-type-checkbox + .form-type-checkbox,
  .form-type-checkbox + .js-form-type-checkbox,
  .js-form-type-checkbox + .form-type-radio,
  .js-form-type-checkbox + .js-form-type-radio,
  .js-form-type-checkbox + .form-type-checkbox,
  .js-form-type-checkbox + .js-form-type-checkbox {
    margin-top: 0.35714em;
    margin-bottom: 0.35714em; }
    .form-type-radio + .form-type-radio:first-child,
    .form-type-radio + .js-form-type-radio:first-child,
    .form-type-radio + .form-type-checkbox:first-child,
    .form-type-radio + .js-form-type-checkbox:first-child,
    .js-form-type-radio + .form-type-radio:first-child,
    .js-form-type-radio + .js-form-type-radio:first-child,
    .js-form-type-radio + .form-type-checkbox:first-child,
    .js-form-type-radio + .js-form-type-checkbox:first-child,
    .form-type-checkbox + .form-type-radio:first-child,
    .form-type-checkbox + .js-form-type-radio:first-child,
    .form-type-checkbox + .form-type-checkbox:first-child,
    .form-type-checkbox + .js-form-type-checkbox:first-child,
    .js-form-type-checkbox + .form-type-radio:first-child,
    .js-form-type-checkbox + .js-form-type-radio:first-child,
    .js-form-type-checkbox + .form-type-checkbox:first-child,
    .js-form-type-checkbox + .js-form-type-checkbox:first-child {
      margin-top: 0; }
    .form-type-radio + .form-type-radio:last-child,
    .form-type-radio + .js-form-type-radio:last-child,
    .form-type-radio + .form-type-checkbox:last-child,
    .form-type-radio + .js-form-type-checkbox:last-child,
    .js-form-type-radio + .form-type-radio:last-child,
    .js-form-type-radio + .js-form-type-radio:last-child,
    .js-form-type-radio + .form-type-checkbox:last-child,
    .js-form-type-radio + .js-form-type-checkbox:last-child,
    .form-type-checkbox + .form-type-radio:last-child,
    .form-type-checkbox + .js-form-type-radio:last-child,
    .form-type-checkbox + .form-type-checkbox:last-child,
    .form-type-checkbox + .js-form-type-checkbox:last-child,
    .js-form-type-checkbox + .form-type-radio:last-child,
    .js-form-type-checkbox + .js-form-type-radio:last-child,
    .js-form-type-checkbox + .form-type-checkbox:last-child,
    .js-form-type-checkbox + .js-form-type-checkbox:last-child {
      margin-bottom: 0; }

.form-radios > .form-type-radio,
.form-checkboxes > .form-type-checkbox {
  margin-top: 0.71429em;
  margin-bottom: 0.71429em; }
  .form-radios > .form-type-radio:first-child,
  .form-checkboxes > .form-type-checkbox:first-child {
    margin-top: 0; }
  .form-radios > .form-type-radio:last-child,
  .form-checkboxes > .form-type-checkbox:last-child {
    margin-bottom: 0; }

@media (min-width: 48em) {
  .form--inline .form-item,
  .form--inline .form-actions,
  .container-inline .form-item,
  .container-inline .form-actions {
    display: inline-block;
    margin-bottom: 0;
    margin-left: .5em;
    margin-top: 0;
    vertical-align: top; } }

.form--inline .form-item:first-child,
.container-inline .form-item:first-child {
  margin-left: 0; }

.details-wrapper {
  margin-top: 1.42857em;
  margin-bottom: 1.42857em; }
  .details-wrapper:first-child {
    margin-top: 0; }
  .details-wrapper:last-child {
    margin-bottom: 0; }

/*# sourceMappingURL=form.css.map */
