@import '../../lib/lib';

.view,
.view-filters,
.view-content,
.views-list-section,
.views-preview-wrapper {
  @include type-leader;
  @include type-leader-clear;
}

.views-grouped .form-item,
.views-grouped .form-wrapper {
  margin-bottom: 0;
  margin-top: 0;
}

.views-ui-display-tab-bucket {
  @include type-leader;
  @include type-leader-clear;
  @include border-radius(2px);

  header {
    @include breakpoint($breakpoint-large) {
      position: relative;
    }
  }

  .views-ui-display-tab-bucket__title {
    $base: th-base(junior);
    @include th-h(
      $heading: junior,
      $include: font-size line-height
    );
    font-weight: 700;
    margin-bottom: em($base-vertical-margin / 2, $base);
    @include breakpoint(max-width $breakpoint-large-lower) {
      border-top: 1px solid $color-grey-cement;
      padding-top: em($base-vertical-margin, $base);
    }
  }

  &:first-child .views-ui-display-tab-bucket__title {
    @include breakpoint(max-width $breakpoint-large-lower) {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
  }

  &.page {
    margin-bottom: 0;
  }

  &.access {
    margin-top: 0;
  }
}

.views-display-setting {
  @include box-sizing(border-box);
  border: 1px solid $color-grey-cement;
  margin-top: -1px;
  padding: em($base-vertical-margin / 2);
}

.details-wrapper .views-ui-display-tab-bucket:first-child .views-ui-display-tab-bucket__title {
  border-top: 0;
  padding-top: 0;
}

.views-ui-view-name {
  #{$selector-type-headings} {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }
}

.views-ui-display-tab-actions {

  .views-display-setting {
    @include type-leader(.5);
    @include type-leader-clear;
    background-color: $color-white;
    border-color: $color-grey-cement;
    display: block;
    width: 100%;
  }

  .dropbutton li .form-submit {
    display: block;
    width: 100%;
  }
}

.js .views-ui-display-tab-actions {
  @include breakpoint($breakpoint-medium) {
    border: 0;
    padding: 0;
  }

  .views-display-setting {
    @include breakpoint($breakpoint-medium) {
      margin: 0;
    }
  }
}

.js .views-ui-edit-display-form {

  table,
  .form-actions {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.views-ui-dialog {

  .form-actions {
    margin-bottom: 0;
    margin-top: 0;
  }

  .views-filterable-options-controls {
    display: inline-block;
    margin-bottom: 0;
    margin-left: .5em;
    margin-top: 0;
  }

  .form-item-path .field-prefix,
  .form-item-path .field-suffix {
    display: inline;
    margin-left: 0;
    margin-right: 0;
  }

  .ui-widget-content.ui-dialog-content {
    padding: 0;

    &::after {
      display: none;
    }
  }

  .scroll {
    margin-bottom: 0;
    margin-top: 0;
    padding: em($base-vertical-margin);
    padding-bottom: 0;

    // Used to apply bottom padding on overflow auto in firefox.
    // @url https://bugzilla.mozilla.org/show_bug.cgi?id=748518
    &::after {
      content: '';
      display: block;
      height: em($base-vertical-margin);
    }
  }
}

.views-edit-view .unit-title,
.view-preview-form .view-preview-form__title,
.view-preview-form .section-title {
  $base: th-base(mike);
  @include th-h(mike);
  @include type-leader-clear;
  border-bottom: 1px solid $color-grey-cement;
  padding-bottom: em($base-vertical-margin / 2, $base);
}

.views-query-info {

  table,
  thead,
  tbody,
  tr,
  th,
  td {
    @include breakpoint(max-width $breakpoint-large-lower) {
      display: block;
    }
  }

  table,
  th,
  td {
    vertical-align: top;
    @include breakpoint(max-width $breakpoint-large-lower) {
      border: 0;
      padding: 0;
    }
  }

  td {
    @include breakpoint(max-width $breakpoint-large-lower) {
      @include type-leader(.25);
      @include type-leader-clear;
    }
  }

  td:first-child {
    @include breakpoint($breakpoint-large) {
      background-color: $color-grey-steam;
      max-width: em(200px);
    }
  }

  tr {
    @include breakpoint(max-width $breakpoint-large-lower) {
      @include type-leader;
      @include type-leader-clear;
    }
  }

  pre {
    white-space: pre-wrap;
  }
}

.views-ui-dialog .views-override:not(:empty) {
  border-bottom: 1px solid $color-grey-cement;
  padding: em($base-vertical-margin);
}


%views-direction-length {
  @include type-leader;
  @include type-leader-clear;

  .clearfix {
    @include type-leader;
    @include type-leader-clear;
  }
}

@each $length in (25, 30, 40, 50, 60, 70, 75) {
  .views-left-#{$length},
  .views-right-#{$length} {
    @extend %views-direction-length;
  }
}

.views-display-top {
  @include breakpoint($breakpoint-large) {
    position: relative;
  }

  .form-submit {
    @include type-leader(.5);
    @include type-leader-clear;
    display: block;
    width: 100%;
    @include breakpoint($breakpoint-medium) {
      display: inline-block;
      margin: 0;
      width: auto;
    }
  }
}

.js .views-display-top {

  .add {
    margin: 0;
    position: relative;
    @include breakpoint($breakpoint-medium) {
      padding: 0;
    }
  }

  .add > a {
    outline: none;
    @include breakpoint($breakpoint-medium) {
      padding-bottom: em($base-vertical-margin / 2);
    }
  }

  .action-list {
    @include type-leader(.5);
    @include type-leader-clear;
    @include breakpoint($breakpoint-medium) {
      margin: 0;
      position: absolute;
      top: 100%;
      z-index: 20;
    }
  }
}
