@import '../../lib/lib';

.views-ui-display-tab-bucket {
  @include type-leader;
  @include type-leader-clear;
  @include border-radius(2px);

  header {
    @include breakpoint($breakpoint-large) {
      position: relative;
    }
  }

  .views-ui-display-tab-bucket__title {
    $base: th-base(junior);
    @include th-h(
      $heading: junior,
      $include: font-size line-height
    );
    font-weight: 700;
    margin-bottom: em($base-vertical-margin / 2, $base);
    @include breakpoint(max-width $breakpoint-large-lower) {
      border-top: 1px solid $color-grey-cement;
      padding-top: em($base-vertical-margin, $base);
    }
  }

  &:first-child .views-ui-display-tab-bucket__title {
    @include breakpoint(max-width $breakpoint-large-lower) {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
  }

  &.page {
    margin-bottom: 0;
  }

  &.access {
    margin-top: 0;
  }
}

.details-wrapper .views-ui-display-tab-bucket:first-child .views-ui-display-tab-bucket__title {
  border-top: 0;
  padding-top: 0;
}

.views-ui-view-name {
  #{$selector-type-headings} {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }
}

.views-ui-display-tab-actions {

  .views-display-setting {
    @include type-leader(.5);
    @include type-leader-clear;
    background-color: $color-white;
    border-color: $color-grey-cement;
    display: block;
    width: 100%;
  }

  .dropbutton li .form-submit {
    display: block;
    width: 100%;
  }
}

.js .views-ui-display-tab-actions {
  @include breakpoint($breakpoint-medium) {
    border: 0;
    padding: 0;
  }

  .views-display-setting {
    @include breakpoint($breakpoint-medium) {
      margin: 0;
    }
  }
}

.js .views-ui-edit-display-form {

  table,
  .form-actions {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.views-ui-dialog {

  .views-filterable-options-controls {
    display: inline-block;
    margin-bottom: 0;
    margin-left: .5em;
    margin-top: 0;
  }

  .form-item-path .field-prefix,
  .form-item-path .field-suffix {
    display: inline;
    margin-left: 0;
    margin-right: 0;
  }

  .scroll {
    margin-bottom: 0;
    margin-top: 0;
  }
}
